<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ blog_title }}</title>
</head>
<body>
    <h1 style="text-align: center; font-family: sans-serif; margin-top: 150px;">
        Welcome to your homepage {{ name }}!
    </h1>
    <img src="https://heavyeditorial.files.wordpress.com/2018/02/screen-shot-2018-02-06-at-4-56-27-pm1.jpg" alt="starman" style="margin: 100px auto; display: block;">
</body>
</html>
